<style>
.container{
    margin-bottom:20px;
}
.container img{
    width:120px;
    height:30px;
    margin-top:14px;
    margin-bottom:14px;
}

.card-body img{
    width:48px;
    height: 48px;
}
.card-body{
    padding:0px;
    margin:0px;
}

</style>

<div class="container">
    <div class="row">
      <div class="col" style="margin-top:10px; margin-bottom:10px;">
        <a id="main" href="#"> <- Cambiar cuenta conectada de BoxMarketing</a>
      </div>
      
    </div>  
    <div class="card">
      <div class="card-body">
        <img src="https://gitlab.com/moflesillo/extension_bxm/raw/master/icon64.png" >
        <span>box-marketing.com</span><br>
        <span># Cuenta: 123456</span><br>
        <span>Cuenta de BoxMarketing </span><br>
        <span class="badge badge-success">En uso</span>

      </div><hr>
      <div class="card-body">
        <img src="https://gitlab.com/moflesillo/extension_bxm/raw/master/icon64.png" >
        <span>segundapagina.com</span><br>
        <span># Cuenta: 654321</span><br>
        <span>Cuenta de BoxMarketing </span>
        <br>
        <button type="button" class="btn btn-primary">Seleccionar</button>
      </div>
      <hr>
    </div>
    
</div>