<style>

.flecha{
	position:absolute;
	top:0px;
	left:3px;
}
.cerrar{
	position:absolute;
	top:0px;
	right:2px;
}
.addon_sidebar{
	padding:0px !important;
	width: calc(100% - 56px) !important;
}
.container_app_sidebar_in_use{
	width:100% !important;
}
.content{
	position: absolute;
    width: 114%;
}
.private-button{
	color:white;
}

.header{
	background: #3EC6C4;
    color: white;
    padding: 5px;
    font-size:15px;
}

.header span{
	font-size:15px;
}

.logo{
	text-align: center;
	padding-top:20px;
	padding-bottom: 20px;
}

.logo img{
	margin:0 auto;
	width: 58px;
	height: 58px;
}

.medio{
	text-align: center;
}

.centrar{
	text-align: center;
	padding-top:20px;
	padding-bottom: 20px;
}

.cortar{
	width: 50px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

 }

</style>

<div class="container-fluid">
	<div class="row header">	
		<div class="col-sm-1 col-lg-2">
               <i class="fas fa-arrow-left"></i>
		</div>
		<div class="col-lg-8">
			<span class="cortar">josericardo.raguilar@...</span>
		</div>
		<div class="col-sm-1 col-lg-2">
			 <i class="fas fa-times"></i>
		</div>
		<!-- <button type="button" class="btn private-button">
		<span aria-hidden="true" class="private-icon private-icon__low flecha">previous</span>
		</button>
		<span class="private-truncated-string" style="max-width: 11.25rem; width: unset;">
		<span class="private-truncated-string__inner" style="max-width: 11.25rem; width: unset;">
		<span style="font-size: 12px;">Jose Ricardo Aguilar Garcia</span>
		</span>
		</span>
		<button type="button" aria-disabled="false" class="btn uiButton private-button" tabindex="0">
		<span aria-hidden="true" class="private-icon private-icon__low cerrar">remove</span>
		</button> -->
	</div>
	<div class="row logo">
		<img src="https://gitlab.com/moflesillo/extension_bxm/raw/master/icon64.png">
	</div>
	<div class="row medio">
		<div class="col-lg-12">
			<h6>josericardo.raguilar@gmail.com</h6>
		</div>
	</div>
	<div class="row medio">
		<div class="col-lg-12">
			<h8>josericardo.raguilar@gmail.com</h8>
		</div>
	</div>
	<div class="row centrar">
		<div class="col-lg-12">
			<button type="button" class="btn btn-primary">Agregar a CRM</button>
		</div>
	</div>
</div>


		
