<style>
.container{
    margin-bottom:20px;
}
.container img{
    width:120px;
    height:30px;
    margin-top:14px;
    margin-bottom:14px;
}

.card-body img{
    width:48px;
    height: 48px;
}
.card-body{
    padding:0px;
    margin:0px;
}

.card-body span{
    font-size:13px;
    color:gray;
}
</style>

<div class="container">
    <div class="row">
        <div class="col">
          <img src="https://gitlab.com/moflesillo/extension_bxm/raw/master/Logobxm.png" >
        </div>
    </div>

    <div class="alert alert-success" role="alert">
      <p class="alert-heading">Tu bandeja de entrada está conectada</p>
    </div>
    
    <div class="card">
      <div class="card-body">
        <img  src="https://gitlab.com/moflesillo/extension_bxm/raw/master/gmail-circle.png" >
        <span>moflesillo@gmail.com</span><br>
        <span>Bandeja de entrada</span>
      </div>
      <hr>
      <div class="card-body">
        <img src="https://gitlab.com/moflesillo/extension_bxm/raw/master/icon64.png" >
        <span>box-marketing.com</span><br>
        <span># Cuenta: 123456</span><br>
        <span>Cuenta de BoxMarketing </span><hr>
      </div>
    </div>
    <div class="alert alert-light" role="alert">
      <a id="changeaccount" href="#">Cambiar cuenta conectada a BoxMarketing</a>
    </div>
    <div class="alert alert-light" role="alert">
      <a href="#" class="alert-link">Salir de BoxMarketing</a>  
    </div>
    
</div>